<div class="container">
  <header class="header">
    <div class="label">
      <label>{{ headerLabel }}</label>
    </div>
  </header>
  <div class="select-color" *ngIf="pickedColor !== ''">
    <div class="selected-color-container">
      <label class="center">Selected color: </label>
      <div class="picked-color-box">
        <div class="picked-color" [style.background-color]="pickedColor"></div>
        <div class="picked-color-name center">{{ pickedColor }}</div>
        <div
          class="copy-btn"
          [cdkCopyToClipboard]="pickedColor"
          (click)="showSnackbar()"
        >
          <span class="material-icons">content_copy</span>
        </div>
      </div>
    </div>
  </div>
  <section class="tab">
    <div [hidden]="hasImage" class="image-uploader">
      <app-file-uploader (imageSource)="loadFile($event)"></app-file-uploader>
    </div>
    <div [hidden]="!hasImage">
      <div class="image-display">
        <div class="image-container" (window:resize)="onResize($event)">
          <canvas
            id="canvas"
            class="canvas"
            appCanvasClick
            (clickEvent)="pickColor($event)"
          ></canvas>
        </div>
      </div>
    </div>
  </section>
</div>
