<div class="container">
  <header class="header">
    <label>Palette</label>
  </header>
  <section class="palette-container">
    <div class="color-box" *ngFor="let item of palette">
      <div
        class="color"
        [style.background-color]="item.hex"
        (mouseenter)="setHoveredColor(item)"
        (mouseleave)="setHoveredColor(null)"
      >
        <div
          *ngIf="hoveredColor?.id === item.id"
          class="copy-btn"
          [cdkCopyToClipboard]="item.hex"
          (click)="showSnackbar()"
          (mouseenter)="copyHover = true"
          (mouseleave)="copyHover = false"
          title="Copy"
          [style.color]="
            copyHover
              ? getColor(item.luminance, true)
              : getColor(item.luminance, false)
          "
        >
          <span class="material-icons">content_copy</span>
        </div>
      </div>
      <div class="color-name">{{ item.hex }}</div>
    </div>
  </section>
</div>
