<div class="container">
  <header class="header">
    <label>Palette</label>
  </header>
  <section class="palette-container">
    <div class="palette" *ngFor="let item of palette">
      <div class="palette-details">
        <div class="palette-color" [style.background-color]="item.hex"></div>
        <div class="padding-info">
          <div class="palette-label" title="Copy hex value">
            <span class="title">HEX</span>
            <span class="value">{{ item.hex }}</span>
          </div>
          <div class="palette-label" title="Copy rgb value">
            <span class="title">RGB</span>
            <span class="value">{{ item.rgb }}</span>
            <span class="copy-btn" (click)="copyToClipboard(item.hex)"> </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
