<div class="app">
  <div class="color-overlay">
    <header class="container">
      <div class="nav">
        <div class="nav-content">
          <img
            class="icon"
            alt="palettable"
            src="../assets/images/palettable-icon-medium.png"
          />
          <label>palettable</label>
        </div>
        <button class="reset" *ngIf="image !== null" (click)="reset()">
          Reset
        </button>
      </div>
    </header>
    <section class="container" *ngIf="image === null">
      <div class="hero">
        <h1>Palette Generator</h1>
        <h2>Generate palette or select colors from your image.</h2>
      </div>
    </section>
    <section class="container">
      <div class="main">
        <div class="image-display">
          <app-image-display
            (imageData)="getImage($event)"
            [toReset]="toReset"
          ></app-image-display>
        </div>
        <div class="palette-display" *ngIf="image !== null">
          <app-palette-display [imageData]="image"></app-palette-display>
        </div>
      </div>
    </section>
  </div>
</div>
