<div class="app">
  <div class="color-overlay">
    <header class="container">
      <!-- <div class="nav"><div class="nav-content">palettable</div></div> -->
      <div class="header">
        <h1>palettable</h1>
        <h2>Generate palette or select colors from your image.</h2>
      </div>
    </header>
    <!-- <section class="container">
      <div class="hero">
        <h1>Palette Generator</h1>
        <h2>Generate palette or select colors from your image.</h2>
      </div>
    </section> -->
    <section class="container">
      <div class="main">
        <div class="image-display">
          <app-image-display (imageData)="getImage($event)"></app-image-display>
        </div>
        <div class="palette-display" *ngIf="image !== null">
          <app-palette-display [imageData]="image"></app-palette-display>
        </div>
      </div>
    </section>
  </div>
</div>
