.app {
  padding-bottom: 100px;

  // backdrop-filter: blur(16px) saturate(180%);
  // -webkit-backdrop-filter: blur(16px) saturate(180%);
  // background-color: rgba(255, 255, 255, 0.75);
  // border-radius: 12px;
  // border: 1px solid rgba(209, 213, 219, 0.3);

  .nav {
    display: flex;
    align-items: stretch;
    z-index: 30;
    padding-bottom: 5px;

    .nav-content {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-shrink: 0;
      min-height: 5rem;
      color: #1ecbe1;
      //color: #0066ff;
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0 5em 0;

    h1 {
      font-size: 24px;
      font-weight: 400;
      line-height: 2;
      color: #303030;
    }

    h2 {
      opacity: 0.5;
      font-size: 13px;
      font-weight: 300;
      color: #000000b3;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    .image-display {
      width: auto;
      //padding: 20px;
      flex: 1 60%;
      //border-right: 1px solid #222222; //rgba(0, 0, 0, 0.075);
    }

    .palette-display {
      //padding: 20px;
      flex: 1 40%;
      width: auto;
    }
  }

  .container {
    //flex-grow: 1;
    margin: 0 auto;
    //width: auto;
    padding: 0 2em;
  }
}

@media (min-width: 768px) {
  .app {
    .container {
      max-width: 900px !important;
      width: auto !important;
    }

    // .main {
    //   flex-direction: row !important;
    // }

    .header {
      h1 {
        font-size: 50px;
        font-weight: 700;
        color: #1ecbe1;
        //color: #303030;
      }

      h2 {
        opacity: 1 !important;
        font-size: 20px;
        font-weight: 300;
        color: #000000b3;
      }
    }
  }
}
