.app {
  padding-bottom: 100px;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 30;
    padding-bottom: 5px;

    .nav-content {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-shrink: 0;
      min-height: 5rem;
      column-gap: 5px;

      .icon {
        width: 100%;
      }

      label {
        color: #1ecbe1;
        font-weight: 700;
        font-size: 2em;
      }
    }

    .reset {
      background-color: #222222;
      color: #ffffff;
      padding: 10px 30px;
      border-radius: 7px;
      cursor: pointer;
      content: none;
      border: none;
      font-size: 16px;
      font-weight: 700;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0 3em 0;
    text-align: center;

    h1 {
      font-size: 50px;
      font-weight: 700;
      color: #303030;
      margin-bottom: 10px;
    }

    h2 {
      opacity: 0.7;
      font-size: 18px;
      font-weight: 300;
      color: #7d7c83; //#000000b3;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    .image-display {
      width: auto;
      flex: 1 60%;
    }

    .palette-display {
      flex: 1 40%;
      width: auto;
    }
  }

  .container {
    margin: 0 auto;
    padding: 0 2em;
  }
}

@media (min-width: 768px) {
  .app {
    .container {
      max-width: 900px !important;
      width: auto !important;
    }

    .main {
      flex-direction: column-reverse !important;
    }

    .hero {
      h1 {
        font-size: 50px;
        font-weight: 700;
        color: #303030;
      }

      h2 {
        opacity: 1 !important;
        font-size: 20px;
        font-weight: 300;
        color: #7d7c83;
      }
    }
  }
}
